@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out.</p>
    <p class="text-danger">For more information contact <a class="text-primary">info@bytebazaar.com</a></p>
</header>
