@model Cart


<h1>Details</h1>
<form method="post">
    <div class="w-50">
        <h4>Product</h4>
        <hr />
        <input asp-for="FkProductId" type="hidden" />
        <div class="p-4 mb-3">
            <p><strong>Title:</strong> @Model.Product.Title</p>
            <p><strong>Description:</strong> @Model.Product.Description</p>
            <p><strong>Quantity:</strong> @Model.Product.Quantity</p>
            <p>Images:</p>
        </div>

        @foreach (var item in Model.Product.Images)
        {
            <img src="@item.URL" style="width:100px" class="mb-4 me-4" />
        }




    </div>
    <div>
        <input type="number" asp-for="Count" />
        <button type="submit" class="btn btn-primary">AddToCart</button>
    </div>
</form>
<div>
    <a asp-action="Products">Back to List</a>
</div>
