@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<BiteBazaarWeb.Models.Product>

<div class="mt-2 bg-secondary p-3 d-flex justify-content-between">
    <select id="filter" asp-items="ViewBag.FkCategoryId" onchange="filterProducts()">
        <option value="" hidden>--Filtrera på Kategori--</option>
    </select>

    <div>
        <a asp-action="Products" class="btn btn-success">Visa alla</a>
    </div>
    <div>
        <input type="text" id="searchString" placeholder="Sök produkt..." />
        <button id="searchButton">Sök</button>
    </div>
</div>

<div class="d-flex">

    <span id="headline" class="visually-hidden me-3">Filtrerat på: </span>
    <span id="headline2" class="visually-hidden me-3">Sökt på: </span>
    <p id="showFilter" class=""></p>
</div>
<div class="row p-2 mb-2" id="productsContainer">
    <partial name="_ProductList" />
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Products", new { page, pageSize = Model.PageSize }))
</div>


@section Scripts {


<script src="/js/Products.js" type="text/javascript"></script>
   
}
