@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var applicationUser = user as ApplicationUser;
        string name = applicationUser?.Name;

        <li class="nav-item">
            <a id="manage" class="nav-link text-light me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej! @name</a>
        </li>
        <li class="nav-item me-4">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                <button id="logout" type="submit" class="nav-link text-light buttonOwn pink">Logga ut</button>
            </form>
        </li>
    }
    else
    {
        
        <li class="nav-item">
            <a class="nav-link text-light me-4 buttonOwn pink" id="login" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }

</ul>
