

<div class="text-center text-white">
    <h1>Tack, ditt köp är nu klart</h1>
    <h3>Välkommen åter!</h3>
</div>

<div class="text-center mb-1">
    <img src="/images/Thumbsup.png" style="width: 300px;" />
</div>
<div class="text-center">
    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="confirmationKnapp">Hem</a>
</div>