@model IEnumerable<OrderSpecification>

    <div class="container p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Antal</th>
                    <th>Produkt</th>
                    <th>Pris</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) 
                {
                    <tr>
                        <td>@item.Count</td>
                        <td>@item.Product.Title</td>
                        <td>@item.Product.Price.ToString("c0")</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt-3">
            <a asp-action="History" class="btn btn-primary">Back</a>
        </div>
    </div>