@model IEnumerable<OrderSpecification>

<link href="~/css/ViewSpecific/Order.css" rel="stylesheet" />

<div class="order-card">
    <div class="p-3">
        <div class="text-center mb-3">
            <h1>Historikdetaljer</h1>
            </div>
    <div class="container p-4">
    <div class="table-responsive">
        <table class="table table-custom">
                    <thead>
                        <tr>
                    <th>Antal</th>
                    <th>Produkt</th>
                    <th>Pris</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) 
                {
                <tr class="text-light">
                        <td>@item.Count</td>
                        <td>@item.Product.Title</td>
                        <td>@item.PayedPrice.ToString("c0")</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <div class="mt-3">
            <a asp-action="History" class="btn btn-egen">Tillbaka</a>
        </div>
    </div>