﻿<div class="container">
    <h1>Allmänna villkor</h1>
    <div class="mt-3">
        <div class="mb-3">
            <h2>Allmänt</h2>
            <p>
                Följande köpvillkor gäller när du som konsument handlar på www.bytebazaar.se och gäller från 2024-01-01.
                För att kunna handla på  www.bytebazaar.se måste du ha fyllt 18 år.
                Dessa villkor gäller när du som konsument gör köp på  www.bytebazaar.se.
            </p>
        </div>
        <div class="mb-3">
            <h3>1. Parter</h3>
            <p>
                ”Säljaren” är: ByteBazaar AB, av egna varor på  www.bytebazaar.se.
                Kontaktuppgifter till ByteBazaar Aktiebolag framgår nedan:
                Org.nr. 556xxx-xxxx
                Adress till huvudkontoret:
                Storgatan 1,
                112 00 Stockholm,
                Stockholms län
                Telefon till kundtjänst: 0771 - xxx xxx
            </p>
        </div>
        <div class="mb-3">
            <h3>2. Din beställning</h3>
            <p>
                När vi mottar din beställning bekräftar vi beställningen och skickar automatiskt en orderbekräftelse till dig på den e-postadress du har angett. Läs noggrant igenom orderbekräftelsen när du får den, och kontrollera att orderbekräftelsen överensstämmer med beställningen.

            </p>
            <p>
                Avvikelser mellan din beställning och orderbekräftelsen betraktas som ett nytt erbjudande från oss, som du kan godta eller tacka nej till. Om du har beställt mer än en produkt kan det förekomma att du får produkterna i separata försändelser.

            </p>
            <p>
                Vi förbehåller oss rätten att annullera din beställning eller en del av den om produkten är slutsåld. Om en produkt är slutsåld får du ett meddelande om det, eventuellt tillsammans med information om vad vi kan erbjuda istället. Du får möjligheten att godta vårt nya erbjudande med de ändringar vi anger jämfört med din beställning, eller helt annullera beställningen. Vidare förbehåller vi oss rätten att annullera beställningar avsedda för vidareförsäljning.
            </p>
            <p>
                Om ett skriv- eller tryckfel av betydande omfattning har förekommit från säljarens sida, i annonser och dylikt och/eller i webbutiken, som är större än 15 % av det normala försäljningspriset, kan säljaren ensidigt ändra, ta bort eller avvisa beställningen. Det gäller även om kunden har fått en orderbekräftelse eller liknande. Vi förbehåller oss också rätten att avbryta din beställning, samt att inte upprätthålla våra kundgarantier till följd av force majeure. Detta gäller om det inte är möjligt att uppfylla villkoren i avtalet. Detta kan bero på extraordinära omständigheter och händelser som ByteBazaar inte kunde ha förutsett som krig, extraordinära naturhändelser, brand, strejk och pandemier.
            </p>
            <p>
                Vi har möjlighet att göra ändringar fram till dess att varan skickas från vårt lager. Om varan har skickats från vårt lager måste du använda ångerrätten.
            </p>
        </div>
        <div class="mb-3">
            <h3>3. Betalning</h3>
            <p>
                När du handlar på www.bytebazaar.se är det ByteBazaar AB som hanterar betalningen. Vid frågor om betalning kan du kontakta kundtjänst på 0771 - xxx xxx.
            </p>
            <p>
                Alla priser är inklusive moms. Orderöversikten inkluderar alla kostnader förknippade med varan, som exempelvis porto, frakt, emballage etc.
            </p>
            <p>
                Vid betalning kan du välja bland de betalningsmetoder vi erbjuder i köpprocessen. För att minimera risken för obehörig åtkomst krypteras dina kortuppgifter och all information rörande transaktionen skickas via SSL/ Secure Sockets Layer. Vi använder oss av MasterCard SecureCode, Verified by Visa och American Express SafeKey. När vi har mottagit din beställning gör vi en reservation på ditt betalningsmedel för att säkerställa att det finns tillräckliga medel för att täcka köpbeloppet och slutföra transaktionen. Om ingen reservation kan göras förbehåller vi oss rätten att annullera beställningen. Du får då information om en eventuell annullering.
            </p>
        </div>
        <div class="mb-3">
            <h3>4. Öppet köp</h3>
            <p>Vi lämnar 30 dagars öppet köp.</p>
            <p><strong>Skicka varor i retur</strong></p>
            <p>Varan kan returneras till vårt returcenter:</p>
            <p>
                ByteBazaar AB<br />
                Lagret<br />
                Storgatan 1 <br />
                112 00 Stockholm
            </p>
        </div>
        <div class="mb-3">
            <h3>5. Leverans och försening</h3>
            <p>
                Leveransen av produkterna sker på det sätt som står angivet på orderbekräftelsen. Vi bär risken för produkterna tills de övertas av dig, det vill säga när du har fått produkterna i din besittning.
            </p>
            <p>Vid hemleverans bör du tänka på att du själv har ansvar för att ta in produkterna i bostaden och att du måste vara på plats för att ta emot varorna. Vi kan kräva legitimation innan vi överlämnar varorna.</p>
            <p>
                Våra hemleveranser utfärdas endast till platser där vi kan nå fram till leveransadressen med våra bilar, på farbar väg. Bor du i skärgården där båt behöver användas för vidare transport från fastlandet levererar vi godset till båten, varifrån du själv får bekosta och hantera leveransen vidare.
            </p>
            <p>
                Om du har beställt inbärning av produkter bör du tänka på att du själv har ansvar för att skydda golv, väggar med mera. På grund av arbetsmiljökrav är våra transportörer skyldiga att behålla godkänd skyddsutrustning, såsom skor på.
            </p>
            <p><strong>Om du har beställt mer än en produkt kan det hända att du får produkterna i separata försändelser.</strong></p>
        </div>
        <div class="mb-3">
            <h3>6. Reklamation</h3>
            <p>
                Efter att du har tagit emot produkterna rekommenderar vi att du så snart som möjligt undersöker om leveransen motsvarar orderbekräftelsen, om produkterna har blivit skadade under transporten eller om produkterna annars har fel eller brister.
            </p>
            <p>Om produkterna har fel eller brister kan du beroende på omständigheterna kräva att felet åtgärdas, kräva ny leverans, prisavdrag, ersättning eller att köpet hävs. Köparen kan kräva omleverans eller att få varan reparerad om detta kan ske utan </p>
            <p>
                oskälig kostnad för säljaren. Anmälan om fel och brister hos produkterna kan göras till oss muntligen eller skriftligen. Det måste ske inom rimlig tid efter att du har upptäckt eller borde ha upptäckt felet eller bristen. Fel på produkten ska anmälas till oss inom 2 månader från att det upptäcks. Vi rekommenderar av bevisskäl att du skickar in reklamationen till oss skriftligen. Rätten att reklamera gäller i tre år efter att du tog emot produkten, om inte annat följer av en garanti eller liknande utfästelse. Under de 2 första åren har du ett förstärkt skydd (Elgiganten har under de första 2 åren bevisbördan för att påvisa att felet inte är ursprungligt). Vissa artiklar som vi säljer (exempelvis batterier) är förbrukningsartiklar och funktion och livslängd kan i dessa fall variera utan att det rör sig om ett fel som är möjligt att reklamera. Se instruktionsboken för mer information. Reklamationsrätten är lagstadgad och gäller samtliga produkter. Reklamationen måste riktas mot säljaren, det vill säga Elgiganten Aktiebolag eller Partnern i de fall då varan inte har sålts av Elgiganten Aktiebolag. Vid köp genom företag har köparen 2 års reklamationsrätt enligt köplagen.
            </p>
        </div>
        <div class="mb-3">
            <h3>7. Ångerrätt</h3>
            <p>Den svenska lagen om distansavtal och avtal utanför affärslokaler ger dig rätt att ångra ditt köp. Ångerrätten gäller för varor och enskilda tjänster. Ångerrätten förutsätter att du senast inom 14 dagar efter att du har tagit emot leveransen meddelar säljaren att du vill använda ångerrätten, i första hand genom att använda den ångerblankett du har fått eller annars skriftligen via brev, e-post eller sms med ordernumret som referens.</p>
            <p>
                För att kunna använda ångerrätten måste produkten returneras till oss i det närmaste samma mängd och skick som när du mottog den. Säljaren har rätt till ersättning för bl.a. värdeminskning som beror på att köparen har hanterat varan i större omfattning än nödvändigt. Alla produkter ska returneras till säljaren inom rimlig tid, senast inom 14 dagar från ditt meddelande om utövande av ångerrätten. Eventuell fraktkostnad för returen betalar du själv.
            </p>
        </div>
        <div class="mb-3">
            <h3>8. Personuppgifter</h3>
            <p>Vid köp från oss kommer vi att behandla dina personuppgifter. För fullständig information om vår behandling av personuppgifter, vänligen se vår Integritetsskyddspolicy, du kan även ladda ner de uppgifter vi sparat om dig om du loggar in på ditt konto.</p>
        </div>
        <div class="mb-3">
            <h3>9. Tvister</h3>
            <p>Parterna ska försöka lösa eventuella tvister i godo. Som konsument kan du dock alltid hänvisa en eventuell tvist till Allmänna Reklamationsnämnden (ARN). Du kan kontakta ARN antingen via deras hemsida <a href="https://www.arn.se">www.arn.se</a></p>
            <p>
                Allmänna Reklamationsnämnden<br />
                Box 174<br />
                101 23 Stockholm
            </p>
            <p>Parter i ärendet är säljaren. Alla tvister ska lösas enligt svensk rätt. Om ärendet dras inför domstol ska det avgöras i din (köparens) domsaga, det vill säga normalt i närheten av din boendeort.</p>
        </div>
    </div>

</div>