
.container-cards {
    background: linear-gradient(to bottom, rgba(87, 25 ,87 , 0.5), rgba(45, 45, 45, 0));
    border-radius: 10px;
    transition: border 0.1s ease-in-out, border-radius 0.1s ease-in;
    color: white;
    border: 2px;
}

.card-body {
    height: 700px;
}

.btn-egen {
    background-color: #ba509a;
}

.btn-egen-blue {
    background: #618a;
    color: white;
}

    .btn-egen-blue:hover {
        border: 2px solid #618a;
        color: white;
    }

.btn-egen-danger {
    background-color: #aa1414;
    color: white;
}

.btn-egen-danger:hover {
    border: 2px solid #aa1414;
    
}

p{
    color: white;
}

h3{
    color: white;
}

.container-cards-category {
    background: linear-gradient(to bottom, rgba(87, 25,87, 0.5), rgba(45, 45, 45, 0));
    border-radius: 10px;
    transition: border 0.1s ease-in-out, border-radius 0.1s ease-in;
    color: white;
    border: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.searchbar {
    width: 250px;
    position: relative;
}

.searchbar input{
    width: 100%;
    height: 40px;
    padding: 5px;
    outline: none;
    background: rgba(255,255,255, 0.3);
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    
}

.searchbar input::placeholder {
    color: #fff; 
}

.searchbutton{
    position: absolute;
    
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    right: 4px;
    top: 10%;
    border: none;
    background: #fff;
    
}

