.wrapper {
    background-color: #c0c0c0;
}

.left-wrapper p{
    color: mediumpurple;
    font-weight:600;
    font-size: 1.3rem;
}

.left-wrapper input{
    background-color: lightgrey;
}

.left-wrapper label {
    color: #fff;
    font-weight: bold;
}

input.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem mediumpurple;
}

.terms label input {
    height: 15px;
    width: 15px;
    accent-color: var(--clr-pink);
}

.betalaOrderButton{
    background: var(--clr-pink);
    width: 200px;
    border-radius: 45px;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
}

.betalaOrderButton:hover{
    background: #fff;
    color: var(--clr-pink);
    font-weight: bold;
}

.bottomDiv{
    background: #A0A0A0;
    padding: 15px 0;
}