.container-cards {
    background: linear-gradient(to bottom, rgba(87, 25,87, 0.5), rgba(45, 45, 45, 0));
    border-radius: 10px;
    transition: border 0.1s ease-in-out, border-radius 0.1s ease-in;
    color: white;
    border: 2px;
}


.card-body {
    height: 700px;
}

.card-body-customers {
    height: 500px;
}

.card-body-customer {
    height: 100%;
    width: 100%;
}


.container-kort-customer {
    background: linear-gradient(to bottom, rgba(87, 25,87, 0.5), rgba(45, 45, 45, 0));
    border-radius: 10px;
    transition: border 0.1s ease-in-out, border-radius 0.1s ease-in;
    color: white;
    border: 2px;
    justify-content: space-evenly;
}

    .container-kort-customer:hover {
        border: 2px solid #cd1da1;
    }

.container-cards:hover {
    border: 2px solid #cd1da1;
}

.container-page {
    background-color: #919191;
    height: 100vh;
}

p {
    color: white;
}


.basket-body {
    flex-direction: column;
    align-items: center;
}



/*
.fixed-size-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

//#1f1f47
//#2d2d2d



.text-container {
    backgorund: pink;
    height: 150px;
}
*/
.row {
    margin: 30px;
}



.btn-egen {
    background-color: #ba509a;
}

.btn-egen-blue {
    background: #56bd69;
    color: white;
}

.btn-egen-danger {
    background-color: #aa1414;
    color: white;
}


.kundkorg-egen {
    background: pink;
   
}


.container-cards-cart {
    display: flex;
    flex-direction: row;
    background: orange;
}

.image-cart {
    background: green;
}


/*.products-details{
    justify-content: center;
    justify-items: center;
    text-align: center;
}*/











.fixed-size-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*#1f1f47
#2d2d2d*/



.text-container {
    background: pink;
    height: 150px;
}

.row {
    margin: 30px;
}


