body {
}
.details-container {
    color: white;
}
.btn-egen {
    background-color: #d431ac;
    color: white;
}

.btn-egen:hover {
        background-color: #263cbf;
}

.info-card {
    background: linear-gradient(to bottom, rgba(87, 25, 87, 0.5), rgba(45, 45, 45, 0));
    border: 2px solid #cd1da1;
    border-radius: 10px;
}
.top-links{
    color:white;
}
.top-links a {
    text-decoration: none;
    
}
    .top-links a:hover {
        color: #efefef;
    }



.button-pink {
    background-color: #D431AC;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-pink:hover,
    .button-pink:focus {
        background-color: #97247b;
        color: white;
    }

.button-grey {
    background-color: #6C757D;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-grey:hover,
    .button-grey:focus {
        background-color: #51585e;
        color: white;
    }

.button-heart {
    background-color: #DC3545;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-heart:hover,
    .button-heart:focus {
        background-color: #c12534;
        color: white;
    }

