body {
}
.details-container {
    color: white;
}
.btn-egen {
    background-color: #d431ac;
    color: white;
}

.btn-egen:hover {
        background-color: #263cbf;
}

.info-card {
    background: linear-gradient(to bottom, rgba(87, 25, 87, 0.5), rgba(45, 45, 45, 0));
    border: 2px solid #cd1da1;
    border-radius: 10px;
}
.top-links{
    color:white;
}
.top-links a {
    text-decoration: none;
    
}
    .top-links a:hover {
        color: #efefef;
    }

