.order-card {
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(to bottom, rgba(87, 25, 87, 0.5), rgba(45, 45, 45, 0));
    border-radius: 10px;
    color: white;
    border: 2px transparent;
}

.table-custom td {
    background: transparent;
}

.table-custom {
    background: transparent;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: inherit;
    border-radius: 15px;
}

    .table-custom th,
    .table-custom td {
        padding: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: left;
        color: white;
    }

    .table-custom th {
        background-color: rgba(0, 0, 0, 0.1);

    }

    .table-custom tr:last-child td {
        border-bottom: none;
    }

.btn-egen {
    background-color: #d431ac;
}

    .btn-egen:hover {
        background-color: #263cbf;
    }

.card-body {
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    border: 2px transparent;
    background: linear-gradient(to bottom, rgba(87, 25, 87, 0.5), rgba(45, 45, 45, 0));
}

.product-link-icons a{
    text-decoration: none;
    color: white;
    
}
    .product-link-icons a:hover {
        color: #d4d4d4;
    }

    /*

        Searchbar

    */

.searchbarAdmin {
    width: 250px;
    position: relative;
}

.searchbarAdmin input {
    width: 100%;
    padding: 5px;
    outline: none;
    background: rgba(255,255,255, 0.3);
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.searchbarAdmin input::placeholder {
    color: #fff;
}

.searchbarAdmin button{
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    right: 4px;
    top: 10%;
    border: none;
    background: #fff;
}