/*

    Searchbar i view - Product, Home controller

*/
.productSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #007fff;*/
    border-radius: 8px 8px 0 0;
    background: rgb(59,28,79);
    background: linear-gradient(90deg, rgba(59,28,79,1) 0%, rgba(59,28,79,0.8785889355742297) 31%, rgba(46,46,108,1) 65%, rgba(31,31,71,0.9430147058823529) 100%);
}

.secondbar {
    /*background-color: #007fff;*/
    padding: 5px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    background: rgb(59,28,79);
    background: linear-gradient(90deg, rgba(59,28,79,1) 0%, rgba(59,28,79,0.8785889355742297) 31%, rgba(46,46,108,1) 65%, rgba(31,31,71,0.9430147058823529) 100%);
}


.objPerPage{
    color: #fff;
}

.objPerPage select{
    width: 75px;
}

.objPerPage button {
    background-color: #fff;
    border: none;
    outline: none;
}

    .objPerPage button:focus {
        outline: none;
        border:none;
        box-shadow: 0 0 0 0.2rem #fff;
    }

    .filterWrapper {
        display: flex;
        gap: 10px;
    }

    .secondbar a {
        background-color: var(--clr-pink);
        color: #fff;
        text-decoration: none;
        align-content: center;
        text-align: center;
        padding: 5px 70px;
        border-radius: 45px;
        margin-right: 15px;
    }

.productSearchBar select {
    background-color: lightgrey;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    padding: 3px;
    border: none;
}

.productSearchBar select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #fff;
}

.productSearchBar select option:hover {
    color: mediumpurple;
    background-color: mediumpurple;
}

.search {
    width: 200px;
    position: relative;
}

.search input {
    width: 100%;
    padding: 5px;
    outline: none;
    background: rgba(255,255,255, 0.3);
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.search input::placeholder {
    color: #fff;
}

.search button {
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    right: 4px;
    top: 10%;
    border: none;
    background: #fff;
}

  