/*

    Searchbar i view - Product, Home controller

*/
.productSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgb(59,28,79);
    background: linear-gradient(90deg, rgba(59,28,79,1) 0%, rgba(59,28,79,0.8785889355742297) 31%, rgba(46,46,108,1) 65%, rgba(31,31,71,0.9430147058823529) 100%);
    border: 2px solid #cd1da1;
    
}


.filterWrapper {
    display: flex;
    gap: 10px;
}

.showAll{
    align-content: center;
}

.productSearchBar .showAll a {
    background-color: rgba(255,255,255, 0.3);
    color: #fff;
    text-decoration: none;
    align-content: center;
    text-align: center;
    padding: 4px 10px;
    border-radius: 8px;
}

.productSearchBar select {
    background-color: rgba(255,255,255, 0.3);
    width: 110px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 3px;
    border: none;
}

    .productSearchBar select option {
        color: black;
    }

    .productSearchBar select:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem #fff;
    }

.productSearchBar select option:hover {
    color: mediumpurple;
    background-color: mediumpurple;
}

.search {
    width: 150px;
    position: relative;
}

    .search input {
        width: 100%;
        height: 40px;
        padding: 5px;
        outline: none;
        background: rgba(255,255,255, 0.3);
        border: 2px solid #fff;
        border-radius: 50px;
        color: #fff;
    }

.search input::placeholder {
    color: #fff;
}

.search-glas {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    right: 4px;
    top: 10%;
    border: none;
    background: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

  