@model BiteBazaarWeb.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="w-50">
    <h4>Product</h4>
    <hr />
    
    <div class="p-4 mb-3">
        <p><strong>Title:</strong> @Model.Title</p>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Quantity:</strong> @Model.Quantity</p>
        <p>Images:</p>
    </div>
    
    @foreach(var item in Model.Images)
            {
                <img src="@item.URL" style="width:100px" class="mb-4 me-4"/>
            }




</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
