@model IEnumerable<FavouriteProduct>

<div class="container">
    <table class="table">
        <tr>
            <th></th>
            <th>Produkt</th>
            <th></th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td><img src="@item.Product.Images.First().URL" style="width:50px"/></td>
                <td>@item.Product.Title</td>
                <td>
                    <a asp-controller="User" asp-action="RemoveItem" asp-route-id="@item.FavouriteProductId" class="text-danger"><i class="bi bi-trash3"></i></a> |
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.FkProductId">Se produkt</a>
                </td>
            </tr>
        }
    </table>
</div>
