:root {
    --clr-pink: #fb50a7;
    --clr-background: #1f1f47;
    --clr-loginBackground: rgba(255,255,255,0.15);
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1 {
    color: white;
}

h4 {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1f1f47;
    padding-bottom: 100px;
}

.egenKnapp {
    border-radius: 30px;
    background: var(--clr-pink);
    font-weight: 700;
    color: #fff;
    padding: 5px;
    max-width: 85px;
    text-align: center;
}
  

.modal-header{
    border-bottom: none;
    padding-bottom: 0;
}

.confirmationKnapp{
    background: var(--clr-pink);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 15px;
}

.button-pink {
    background-color: #cd1da1;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    /*    font-family: "Sedan SC", serif;
    font-weight: bolder;*/
    font-family: "Unica One", sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-pink:hover,
    .button-pink:focus {
        background-color: #97247b;
        color: white;
    }

.button-grey {
    background-color: #6C757D;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-grey:hover,
    .button-grey:focus {
        background-color: #51585e;
        color: white;
    }

.button-heart {
    background-color: #DC3545;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-heart:hover,
    .button-heart:focus {
        background-color: #c12534;
        color: white;
    }

.button-red {
    background-color: #cd0202;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

    .button-red:hover,
    .button-red:focus {
        background-color: #b20303;
        color: white;
    }