:root {
    --clr-pink: #fb50a7;
}


html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Nunito Sans', sans-serif;
}

.egenKnapp {
    border-radius: 45px;
    background-color: var(--clr-pink);
    font-weight: 700;
}

.egenKnapp:hover {
    background-color: #fff;
    border: 2px solid var(--clr-pink);
}

.basket_minus_plus:hover {
    font-size: 20px;
}

.basket_trash{
    color: red;
}
.basket_trash:hover{
    color: red;
    font-size: 20px;
}

.order-background{
    background-color: lightgray;
}