:root {
    --clr-pink: #cd1da1;
    --clr-background: #1f1f47;
    --clr-loginBackground: rgba(255,255,255,0.15);
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1 {
    color: white;
}

h4 {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1f1f47;
    padding-bottom: 100px;
}

.egenKnapp {
    border-radius: 30px;
    background: var(--clr-pink);
    font-weight: 700;
    color: #fff;
    padding: 5px;
    max-width: 85px;
    text-align: center;
}
  

.modal-header{
    border-bottom: none;
    padding-bottom: 0;
}

.modal {
    z-index: 1050; 
}

.modal-backdrop {
    z-index: 1000; 
}



.confirmationKnapp{
    background: var(--clr-pink);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 15px;
}

.buttonOwn { 
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #1F1F47;
    cursor: pointer;
    display: inline-block;
    font-family: "Unica One", sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}


.pink {
    background-color: var(--clr-pink);
}
.pink:hover,
.pink:focus {
    background-color: #97247b;
    color: white;
}

.grey {
    background-color: #6C757D;
}
.grey:hover,
.grey:focus {
    background-color: #51585e;
    color: white;
 }

.heart {
    background-color: #DC3545;
}

.heart:hover,
.heart:focus {
    background-color: #c12534;
    color: white;
}

.red {
    background-color: #cd0202;
}

.red:hover,
.red:focus {
   background-color: #b20303;
   color: white;
}